<tr id="msg_{{id}}" class="messagerow messagerow-{{mailbox}}-{{id}} {{#if seen}}message-seen{{else}}message-unseen{{/if}}">
    <td class="messagerow-spacer"></td>

    <td class="messagerow-checkbox">
        <input type="checkbox" data-mailbox="{{mailbox}}" data-message="{{id}}" class="message-checkbox"/>
    </td>

    <td class="messagerow-star">
        <a href="#" class="message-star {{#if flagged}}flagged{{else}}unflagged{{/if}}" data-mailbox="{{mailbox}}" data-message="{{id}}"><span class="glyphicon glyphicon-{{#if flagged}}star{{else}}star-empty{{/if}}" aria-hidden="true"></span></a>
    </td>

    <td class="messagerow-from">
        <a href="/webmail/{{mailbox}}/message/{{id}}" class="messagerow-link">
            {{{fromHtml}}}
        </a>
    </td>

    <td class="messagerow-subject">
        <a href="/webmail/{{mailbox}}/message/{{id}}" class="messagerow-link">
            <span class="messagerow-subject-content">
                {{#if mailboxName}}
                    <span class="label label-default">{{mailboxName}}</span>
                {{/if}}

                <span class="messagerow-subject-line">
                    <span class="messagerow-subject-text">{{subject}}</span>
                </span>
                {{#if intro}}
                    <span class="messagerow-intro">{{intro}}</span>
                {{/if}}
                <span class="messagerow-meta-mobile">
                    <span class="messagerow-badge">
                        {{#if encrypted}}
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            Encrypted
                        {{else}}
                            {{#if attachments}}
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                Attachments
                            {{/if}}
                        {{/if}}
                    </span>
                    <span class="messagerow-badge">
                        <span class="datestring-fixed" title="{{date}}">
                            {{date}}
                        </span>
                    </span>
                </span>
            </span>
        </a>
    </td>

    <td class="messagerow-info">
        <a href="/webmail/{{mailbox}}/message/{{id}}" class="messagerow-link">
            {{#if encrypted}}
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            {{else}}
                {{#if attachments}}
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                {{/if}}
            {{/if}}
        </a>
    </td>

    <td class="messagerow-date">
        <a href="/webmail/{{mailbox}}/message/{{id}}" class="messagerow-link">
            <span class="datestring-fixed" title="{{date}}">
                {{date}}
            </span>
        </a>
    </td>

    <td class="messagerow-spacer"></td>
</tr>
